*{
    box-sizing: border-box;
}

@media only screen and (min-width: 320px) and (max-width: 768px){
    .hero-section{
        background-color: #E64833;
        background-size: cover;
        width: 100%;
        max-height: 78.3vh;
    }

    .hero-section::before{
        background-color: rgba(0, 0, 0, 0.5);
        content:" ";
        position: absolute;
        top:0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .hero-section .container{
        max-height: 100%;
        z-index: 8;
        position: relative;
        display: flex;
        flex-direction: column-reverse;
    }

    .hero-section h1{
        text-align: center;
        font-size: 60px;
        font-family: "Abril Fatface", serif;
    }

    .hero-section p{
        font-size: 15px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .hero-section .container img{
        max-width: 50%;
        max-height: 50%;
        border-radius: 360px;
    }

    main{
        display: flex;
        flex-direction: column;
    }

    main #videdit{
        display: flex;
        flex-direction: column-reverse;
    }

    main #webdev, #videdit, #anim{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    #webdev{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #244855;
        padding: 10px;
    }

    #webdev h2{
        font-family: 'Abril Fatface', serif;
        color: #FBE9D0;
    }
    
    #webdev img{
        border-radius: 100px;
        padding: 0px;
        width: 100%;
    }
    
    #videdit{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #244855;
        padding: 10px;
    }
    
    #videdit h2{
        font-family: 'Abril Fatface', serif;
        color: #FBE9D0;
    }
    
    #videdit img{
        border-radius: 100px;
        width: 100%;
    }
    
    #anim{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #244855;
    }
    
    #anim h2{
        font-family: 'Abril Fatface', serif;
        color: #FBE9D0;
    }
    
    #anim img{
        border-radius: 100px;
        width: 100%;
    }

    .socials{
        display: inline;
    }

    .socials ul{
        display: flex;
        text-align: center;
        padding:0;
    }

    .socs{
        display: flex;
        justify-content: center;
    }

    .socs ul{
        display: flex;
        flex-direction: column;
        font-size: 250;
        text-decoration: none;
        list-style-type: none;
        justify-content: center;
    }

    footer{
        display: flex;
        flex-direction: column;
    }

    .footer-left{
        display: flex;
        flex-direction: column;
    }
}

.navbar{
    background-color: #244855;
    border-radius: 25px;
    margin: 15px;
}

.navbar-nav{
    background-color: transparent;
    color: #244855;
}

.navbar-nav i{
    vertical-align: bottom;
}

.navbar-brand img, #offcanvasNavbarLabel img{
    max-width: 80px;
}

.nav-link{
    color: #FBE9D0;
    transition: 0.5s;
    font-weight: 500;
    position: relative;
    background-color: #244855;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, serif;
}

.nav-link:hover{
    transform: perspective(600px) translateZ(50px);
    color:#E64833;
}

.navbar-toggler{
    border:none;
    font-size: 1.5rem;
    transition: 0.3s background-color;
}

.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}

.navbar-toggler:hover, .btn-close:hover{
    color: rgb(108, 105, 105);
}

.navbar-toggler:hover::before, .btn-close:hover::before{
    width: 100%;
    visibility: visible;
}

.offcanvas{
    background-color: #244855;
    text-align: center;
}

.offcanvas .nav-link{
    padding: 1rem;
}

.offcanvas-header{
    background-color: #244855;
}

.offcanvas-title{
    color: #FBe9d0;
}

.offcanvas-body{
    background-color: transparent;
}

.hero-section{
    background-size: cover;
    width: 100%;
    max-height: 81vh;
}

.hero-section::before{
    background-color: rgba(0, 0, 0, 0.5);
    content:" ";
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section .container{
    height: 100vh;
    z-index: 1;
    position: relative;
}

.hero-section h1{
    text-align: center;
    font-size: 60px;
    font-family: "Abril Fatface", serif;
}

.hero-section p{
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color:#E64833;
}

main{
    display: column;
}

main h1{
    background-color: #244855;
    color: #FBE9D0;
    text-align: center;
    font-family: 'Abril Fatface', serif;
}

main p{
    color: #FBE9D0;
}

main section .left-col{
    text-align: center;
    width: 30%;
}

main section .right-col{
    text-align: center;
    width: 40%;
}

#webdev{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #244855;
    padding: 10px;
}

#webdev h2{
    font-family: 'Abril Fatface', serif;
    color: #FBE9D0;
}

#webdev img{
    border-radius: 100px;
}

#videdit{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #244855;
    padding: 10px;
}

#videdit h2{
    font-family: 'Abril Fatface', serif;
    color: #FBE9D0;
}

#videdit img{
    border-radius: 100px;
}

#anim{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #244855;
}

#anim h2{
    font-family: 'Abril Fatface', serif;
    color: #FBE9D0;
}

#anim img{
    border-radius: 100px;
}

section h2{
    text-align: center;
}

footer{
    display: flex;
    background-color: #244855;
    padding: 5px;
    border: 0px;
    justify-content: center;
}

footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    padding: 0px;
}

footer #name{
    display: block;
    clear: both;
    width: 50%;
    padding: 0px;
    color: white;
}

footer p{
    padding: 0px;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, serif;
}

footer div{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.fa {
    padding: 50px 20px 20px 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 360px;
    vertical-align: bottom;
  }

.fa-facebook {
    background: #3B5998;
    color: white;
    height: 50px;
  }

  .fa-instagram {
    background: #E64833;
    color: white;
    height: 50px;
  }

.fa-linkedin {
  background: #007bb5;
  color: white;
  height: 50px;
}

.socials{
    width: 100%;
    padding: 25px;
}

.socials a{
    padding: 10px;
}

.socs ul{
    display: flex;
    font-size: 250;
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
}

.socs li{
    justify-content: start;
    display: flex;
    flex-direction: row;
}

.socs p{
    color: #FBE9D0;
    font-size: 2rem;
}

.socs a:hover{
    transition: 0.5s;
    transform: perspective(600px) translateZ(200px);
}